.container{
  padding: 10px;
}

.controllerBox{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.controllerButton{
  border-radius: 8px;
  width: 160px;
  font-size: 16px;
  color: white;
  background-color: #a5100e;
  box-shadow: 1px 2px 3px 1px rgba(150,150,150,.5);
  padding: .5em 0;
  text-align: center;
  border: none;
  &:focus{
    outline: none;
  }
}
.controllerButtonActive{
  text-decoration: underline;
}
.wrapper{
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.content{

}

.refreshing{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  color: #888888;
  &Icon{
    width: 30px;
    margin-right: 30px;
    vertical-align: middle;
  }
}
.refreshHolding{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  color: #888888;
  text-align: center;
}


.pullUp{
  &Refreshing{
    text-align: center;
    color: #888888;
  }
  &LoadMore{
    display: block;
    text-align: center;
    color: #888888;
  }
  &ReachBottom{
    text-align: center;
    color: #888888;
  }
}