.container{
  position: relative;
}
.wrapper {
  width: 100vw;
  height: 150px;
  overflow: hidden;
}

.content {
  height: 100%;
  //占位
  width: 0px;
  display: flex;
  flex-wrap: nowrap;
}

.scrollItem {
  flex: 0 0 100vw;
  height: 100%;
}

.scrollItemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.dots {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 8px 0;
  transform: translateZ(1px);
  text-align: center;
  font-size: 0;
  background-color: rgba(50,50,50,.5);
}

.dot {
  display: inline-block;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  vertical-align: middle;
  //transition-property: width,height;
  //transition-duration: .4s;

  &.active {
    //width: 6px;
    //height: 6px;
    background-color: #69c5ec;
  }
}