.container {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  //border-top: 1px solid #bfbfbf;
  z-index: 999;
}

.homeIcon, .userIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.home, .user {
  margin: 0 50px;
  width: 24px;
  height: 24px;
  font-size: 0;
  padding: 10px 10px;
  background-color: rgba(88,199,249,.8);
  border-radius: 50%;
}

.user {

}