
.editIcon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.textareaWrapper {
  position: relative;

  .textarea {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 1.2em 2em 3em 2em;
    font-size: 22px;
    resize: vertical;
  }

  .controlButtonGroup {
    position: absolute;
    right: 1em;
    bottom: 1em;

    .controlButton {
      border-radius: 5px;
      box-shadow: 1px 2px 1px 1px rgba(100, 100, 100, 0.3);
      border: none;
      padding: .5em 1em;
      margin-right: 25px;
      font-size: inherit;
      &:hover{
        box-shadow: none;
      }
      &.confirm {
        color: white;
        background-image: linear-gradient(to top,#4eb5e9,#57cafa);
        border: 1px solid #45a3d2;
      }

      &.cancel {
        color: #888888;
        background-image: linear-gradient(to top,#e2e2e2,#ffffff);
        border: 1px solid #c9c9c9;
      }
    }
  }
}