.container {
  background-image: url("../../image/welcome.jpg");
  background-size: cover;
  background-position: top center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

@keyframes bling {
  from{
    background-color: rgba(50,50,50,0);
  }
  to{
    background-color: rgba(50,50,50,.3);
  }
}

.enter {
  display: block;
  box-sizing: border-box;
  font-size: 20px;
  color: white;
  background-color: transparent;
  padding: .5em .75em;
  position: absolute;
  text-align: center;
  left: 0;
  width: 100%;
  bottom: 1.5em;
  white-space: nowrap;
  animation: bling 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
